## NumPy

#### “add[s] support for large, multidimensional arrays and matrices, along with a large library of high-level mathematical functions to operate on these arrays”

In [206]:
import numpy as np

In [208]:
a = np.array([0, 1, 5, 7, 6, 5, 2, 3, 8, 9])
a[3], a

(7, array([0, 1, 5, 7, 6, 5, 2, 3, 8, 9]))

In [209]:
a[3:7]

array([7, 6, 5, 2])

In [210]:
b=np.array([1,5,7])
b

array([1, 5, 7])

In [211]:
a[[b]]

array([1, 5, 3])

In [213]:
a[a > 5]

array([7, 6, 8, 9])

## Working with matrices:

In [215]:
a = np.ones((3, 3)) #or a1 = np.ones([3,3])
a , a.shape

(array([[ 1.,  1.,  1.],
        [ 1.,  1.,  1.],
        [ 1.,  1.,  1.]]), (3, 3))

In [217]:
b = np.zeros((4, 2))
b , b.shape

(array([[ 0.,  0.],
        [ 0.,  0.],
        [ 0.,  0.],
        [ 0.,  0.]]), (4, 2))

## RULE: 
Two matrices can be multiplied only when the number of columns in the first equals the number of rows in the second

In [218]:
a=np.array([[1,2,3],[4,5,6]])
a , a.shape

(array([[1, 2, 3],
        [4, 5, 6]]), (2, 3))

In [219]:
a.T  , a.T.shape

(array([[1, 4],
        [2, 5],
        [3, 6]]), (3, 2))

In [220]:
b=np.array([6, 7])
b , b.shape

(array([6, 7]), (2,))

$$ \bf{A} \dot \bf{B} = \bf{C}$$

In [225]:
c = np.dot(a.T,b) #matrix multiplication : How to (a.T,b,a)?
c , c.shape

(array([34, 47, 60]), (3,))

#### Moving on :

In [232]:
b = np.arange(12).reshape(6,2)
b , b.shape

(array([[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7],
        [ 8,  9],
        [10, 11]]), (6, 2))

In [234]:
b.sum(axis=0) , b.sum(axis=1) , b.sum()

(array([30, 36]), array([ 1,  5,  9, 13, 17, 21]), 66)

### Matric object and 2-d matrix indexing and slicing

In [236]:
b=np.mat('1 2 3 4; 5 6 7 8; 9 10 11 12') #Mat
b , b.shape

(matrix([[ 1,  2,  3,  4],
         [ 5,  6,  7,  8],
         [ 9, 10, 11, 12]]), (3, 4))

In [252]:
b , b.shape

(matrix([[ 1,  2,  3,  4],
         [ 5,  6,  7,  8],
         [ 9, 10, 11, 12]]), (3, 4))

In [251]:
c= b[:,:3]

In [248]:
c ,c.shape

(matrix([[ 1,  2],
         [ 5,  6],
         [ 9, 10]]), (3, 2))

In [254]:
a=np.mat('1;2;3;4')
a , a.shape

(matrix([[1],
         [2],
         [3],
         [4]]), (4, 1))

In [255]:
b , b.shape

(matrix([[ 1,  2,  3,  4],
         [ 5,  6,  7,  8],
         [ 9, 10, 11, 12]]), (3, 4))

In [256]:
c= np.dot(a,b.T)   # how to multiple a*b?

ValueError: objects are not aligned

In [257]:
aa=np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])
aa.shape # # page, row, col → 3D

(2, 2, 3)

In [258]:
bb=np.array([[[3],[4],[6]],[[6],[5],[7]]])
bb.shape # # page, row, col → 3D

(2, 3, 1)

In [260]:
c = np.dot(aa,bb)

In [261]:
c.shape # --> 4D !

(2, 2, 2, 1)

In [262]:
e = np.dot(aa,bb.T)

In [263]:
e.shape

(2, 2, 1, 2)

### ndarray element-wise operations – scalar and matrix

In [264]:
aa = np.arange(5)
aa , aa.shape

(array([0, 1, 2, 3, 4]), (5,))

In [266]:
aa = aa * 8
aa , aa.shape

(array([  0,  64, 128, 192, 256]), (5,))

In [267]:
bb = np.array([2, 4, 6, 8, 10])
bb , bb.shape

(array([ 2,  4,  6,  8, 10]), (5,))

In [268]:
c = np.multiply(aa, bb)
c , c.shape

(array([   0,  256,  768, 1536, 2560]), (5,))

In [269]:
cc = np.divide(aa.astype(float), bb.astype(float)) #just to make sure
cc , cc.shape

(array([  0.        ,  16.        ,  21.33333333,  24.        ,  25.6       ]),
 (5,))

### Excerise:

####1. Create a 3x3 identity matrix  == A
####2. Create a 4x4x4 array with random values == B
####3. Find A*B

In [278]:
I = np.identity(3)
I , I.shape

(array([[ 1.,  0.,  0.],
        [ 0.,  1.,  0.],
        [ 0.,  0.,  1.]]), (3, 3))

In [280]:
R = np.random.rand(4,4,4,4)
R , R.shape

(array([[[[  5.52217393e-01,   4.51297376e-01,   9.24469009e-01,
             8.20136359e-01],
          [  9.09356953e-01,   3.82545754e-01,   4.28531626e-01,
             1.46147024e-01],
          [  7.32296123e-01,   9.36425282e-01,   2.31274637e-01,
             4.02581955e-01],
          [  5.89390800e-01,   6.51792734e-01,   5.03363719e-01,
             4.09579983e-02]],

         [[  1.51219722e-01,   3.85939105e-01,   2.87590528e-01,
             4.13375984e-01],
          [  9.21139228e-02,   1.44632271e-01,   5.27822702e-01,
             4.51297027e-01],
          [  2.60656198e-01,   8.32398417e-01,   1.49100425e-01,
             1.16967302e-01],
          [  1.86780879e-01,   2.95813595e-01,   1.06209158e-01,
             5.84355775e-01]],

         [[  9.27081858e-01,   9.92481030e-01,   8.74708639e-01,
             7.03831973e-01],
          [  3.78084596e-01,   4.88297611e-01,   6.97152293e-01,
             2.05738245e-01],
          [  6.59937345e-01,   5.98143460e-01,   1.00550701e-01,
             7.39846470e-02],
          [  2.82206970e-01,   6.78315976e-01,   2.82161123e-01,
             4.75695311e-01]],

         [[  2.44757633e-01,   4.29697697e-01,   8.07443119e-01,
             2.09049814e-01],
          [  1.21527513e-01,   9.99278350e-01,   4.10131838e-02,
             9.44831702e-01],
          [  4.68808172e-01,   9.51861102e-01,   8.17935812e-03,
             3.29091114e-01],
          [  2.88718425e-01,   4.48472180e-02,   1.04355518e-01,
             5.54579766e-01]]],


        [[[  6.01294353e-01,   1.49765668e-01,   3.24874208e-01,
             2.80325273e-01],
          [  3.60517727e-01,   1.80424072e-01,   3.94027448e-01,
             7.86398290e-01],
          [  3.40785601e-01,   1.71676652e-01,   9.70351659e-02,
             1.38669026e-01],
          [  7.79503557e-01,   3.45261749e-01,   9.71331235e-01,
             9.13404059e-01]],

         [[  9.41841082e-01,   8.91357569e-01,   6.88302336e-01,
             9.77558078e-01],
          [  8.71690693e-01,   1.67658978e-01,   6.82556979e-01,
             4.79060460e-01],
          [  6.09980628e-02,   8.85577391e-01,   2.93749584e-01,
             4.69326109e-01],
          [  9.52144208e-01,   9.78053630e-01,   6.02336583e-01,
             9.09778750e-01]],

         [[  9.33620918e-01,   3.04725432e-01,   2.54546921e-01,
             4.52692021e-01],
          [  7.01926495e-01,   8.41237492e-01,   8.65975788e-01,
             4.75427894e-01],
          [  6.36922265e-02,   9.54511663e-01,   8.09208193e-01,
             9.13361240e-01],
          [  1.13305829e-01,   9.57266558e-01,   5.46107559e-01,
             3.72097666e-01]],

         [[  8.11049866e-01,   7.02546625e-01,   7.10139252e-01,
             1.14299658e-02],
          [  8.47993708e-01,   5.39518305e-01,   4.95523792e-01,
             8.28276949e-01],
          [  3.63447621e-01,   7.96323969e-01,   8.62466925e-01,
             6.95416830e-01],
          [  1.09348287e-01,   3.75158403e-01,   2.30338433e-01,
             1.69772594e-01]]],


        [[[  9.96466436e-01,   9.17992386e-01,   6.94653653e-01,
             2.29336582e-01],
          [  6.73463267e-01,   1.09354107e-01,   9.36974374e-01,
             1.91251836e-01],
          [  4.62649237e-01,   3.77893858e-01,   5.08594558e-01,
             2.62853971e-01],
          [  7.19402399e-01,   8.39719736e-01,   8.02190064e-03,
             6.05863145e-02]],

         [[  2.90061807e-01,   5.29881650e-01,   9.58401317e-02,
             3.89981604e-01],
          [  3.51454000e-01,   1.42736840e-01,   3.34518739e-01,
             7.65356313e-02],
          [  7.74464659e-01,   8.22153521e-01,   5.04677539e-01,
             2.28792725e-01],
          [  3.10515841e-01,   2.40110428e-01,   6.84751443e-01,
             6.57086903e-01]],

         [[  6.26513890e-01,   7.72730507e-01,   6.88090075e-01,
             4.39197080e-01],
          [  2.44706934e-01,   8.17498462e-01,   7.96372388e-01,
             8.72045202e-01],
          [  6.28620426e-01,   5.23032689e-01,   5.57009575e-01,
             9.09204769e-01],
          [  1.95465657e-01,   7.53361611e-01,   9.96239038e-01,
             8.35930910e-04]],

         [[  5.10382597e-01,   7.72516500e-01,   3.64004639e-01,
             8.50379331e-01],
          [  3.75911484e-01,   5.19199889e-01,   2.58679114e-02,
             3.49877183e-01],
          [  6.08470289e-01,   6.05904477e-01,   6.30468203e-01,
             1.43184935e-01],
          [  5.51589663e-01,   6.52822220e-01,   7.74333968e-01,
             8.32741895e-01]]],


        [[[  3.32985368e-01,   9.67363265e-01,   5.32064864e-01,
             6.29057584e-01],
          [  4.45107386e-01,   6.36520448e-01,   1.97327914e-01,
             6.62100716e-02],
          [  3.14325241e-01,   3.28403592e-01,   9.10048751e-01,
             8.91183244e-01],
          [  9.23231498e-01,   6.59962744e-02,   5.14129680e-01,
             4.27451165e-01]],

         [[  5.21633732e-01,   7.05048242e-01,   8.62872874e-01,
             3.09575348e-03],
          [  8.87100436e-01,   2.59362335e-01,   1.22907353e-01,
             4.52160273e-02],
          [  9.49555403e-01,   3.41543929e-01,   7.35177937e-01,
             1.72528070e-01],
          [  2.59075438e-01,   9.15173175e-01,   6.92044356e-01,
             5.25424029e-02]],

         [[  3.11666154e-01,   8.56970561e-01,   1.08583382e-01,
             6.49724762e-01],
          [  6.63025453e-01,   2.10893680e-01,   4.09393737e-01,
             9.87735699e-01],
          [  1.51881274e-01,   2.83336465e-01,   8.88915022e-01,
             4.21840180e-01],
          [  1.62876593e-01,   5.11867000e-02,   3.45729327e-02,
             7.43469718e-01]],

         [[  3.80023537e-01,   1.98883419e-01,   7.13331828e-01,
             3.57584361e-01],
          [  6.76958403e-01,   1.98721579e-01,   1.14499671e-01,
             7.91131642e-01],
          [  2.50122657e-01,   4.32453929e-01,   8.82762694e-01,
             5.06029281e-01],
          [  4.77392742e-01,   9.38590551e-01,   6.51311358e-02,
             2.77763097e-01]]]]), (4, 4, 4, 4))

In [284]:
PROD = np.dot(I,R)

ValueError: objects are not aligned

In [ ]:
M = np.dot()

### Inner product

In [285]:
aa = np.arange(5)
aa , aa.shape

(array([0, 1, 2, 3, 4]), (5,))

In [286]:
bb = np.arange(9)
bb , bb.shape

(array([0, 1, 2, 3, 4, 5, 6, 7, 8]), (9,))

In [289]:
cc = np.inner?
cc , cc.shape

(array([  0.        ,  16.        ,  21.33333333,  24.        ,  25.6       ]),
 (5,))

In [ ]:
cc = np.inner

### Compute the eigenvalues and right eigenvectors of a square array

In [290]:
a = np.array([[1,2],[3,4]])
a , a.shape

(array([[1, 2],
        [3, 4]]), (2, 2))

In [291]:
c = np.linalg.eig(a)
c

(array([-0.37228132,  5.37228132]), array([[-0.82456484, -0.41597356],
        [ 0.56576746, -0.90937671]]))

### Compute the determinant of an array

In [292]:
cc = np.linalg.det(a)

In [293]:
cc

-2.0000000000000004

### Excerise:

####1. Multiply a 5x3 matrix by a 3x2 matrix (real matrix product)

####3. Create a 5x5 matrix with values 1,2,3,4 just below the diagonal using a function (Extra Credit)!

## Pandas

“… an open source… library providing 
	high-performance… data structures 
	and data analysis tools”

### Series - one-dimensional labeled array

In [296]:
import pandas as pd
import numpy as np

In [298]:
s = pd.Series(np.random.randn(3))
s , s.shape

(0    1.214346
 1    0.580148
 2    0.133858
 dtype: float64, (3,))

In [299]:
index = ['A','B','C']

In [300]:
SS = pd.Series(np.random.randn(3), index=index)
SS , SS.shape

(A    0.863543
 B    0.350230
 C    0.043459
 dtype: float64, (3,))

In [301]:
SS['A'] # using the labled index

0.86354348053966601

In [302]:
d = {'a' : 0, 'b' : 1, 'c' : 2} # dic style 
d

{'a': 0, 'b': 1, 'c': 2}

In [303]:
pd.Series(d) #convert to DF

a    0
b    1
c    2
dtype: int64

### Series – vector operation support and index alignment

In [304]:
t = pd.Series([30,40], index=['b', 'c' ]) #another way 
t

b    30
c    40
dtype: int64

In [305]:
s = pd.Series(np.arange(4), index=['a', 'b', 'c', 'd'])
s

a    0
b    1
c    2
d    3
dtype: int64

In [306]:
C = t+s

In [307]:
C

a   NaN
b    31
c    42
d   NaN
dtype: float64

### DataFrame – 2-d labeled data structure

In [308]:
d = {'one' : [10., 20., 30., 40.], 'two' : [4., 3., 2., 1.]}
d

{'one': [10.0, 20.0, 30.0, 40.0], 'two': [4.0, 3.0, 2.0, 1.0]}

In [309]:
DF = pd.DataFrame(d, index=['a','b','c','d']) #convert to DF
DF

   one  two
a   10    4
b   20    3
c   30    2
d   40    1

In [310]:
DF.T

      a   b   c   d
one  10  20  30  40
two   4   3   2   1

In [311]:
dd={'0':pd.Series([1,2],index=['a','b']),
...     '1':pd.Series([15,25,35],index=['a','b','c'])} #another way using pd.Serise
dd

{'0': a    1
 b    2
 dtype: int64, '1': a    15
 b    25
 c    35
 dtype: int64}

In [312]:
pd.DataFrame(dd)

    0   1
a   1  15
b   2  25
c NaN  35

### DataFrame – data alignment and arithmetic operations

In [317]:
df = pd.DataFrame(np.floor(np.random.randn(3,4)*10), columns=['K', 'B', 'C', 'D'])

In [318]:
df

   K   B   C  D
0 -6 -11  -8 -1
1  0  14   8 -1
2 -4  -6  22 -4

In [ ]:
df = pd.DataFrame(np.floor?

In [319]:
df2 = pd.DataFrame(np.floor(np.random.randn(3,2)*10), columns=['B', 'C'])

In [320]:
df2

    B   C
0  -3  -7
1   6  16
2  17  -2

In [321]:
C = df + df2
C

    B   C   D   K
0 -14 -15 NaN NaN
1  20  24 NaN NaN
2  11  20 NaN NaN

In [322]:
panel = pd.Panel(np.random.randn(5,3,2).round(decimals=1),
...                  items=['one', 'two', 'three','four','five'],
...                  major_axis=pd.date_range('1/1/2000', periods=3),
...                  minor_axis=['a', 'b'])

In [323]:
panel.to_frame()#(np.random.randn(5,3,2) →  (start,end,steps)

                  one  two  three  four  five
major      minor
2000-01-01 a      0.3  2.0   -1.4   1.0   1.2
           b      0.1  0.7   -0.8  -0.5   0.7
2000-01-02 a     -0.6 -1.0   -1.3  -0.0   1.2
           b     -0.2 -0.8    1.2   0.2  -1.9
2000-01-03 a      0.9 -0.6    0.2  -0.7  -0.3
           b     -0.4  1.2    1.0   0.0  -1.2

In [324]:
panel.to_frame().T

major  2000-01-01       2000-01-02       2000-01-03
minor           a    b           a    b           a    b
one           0.3  0.1        -0.6 -0.2         0.9 -0.4
two           2.0  0.7        -1.0 -0.8        -0.6  1.2
three        -1.4 -0.8        -1.3  1.2         0.2  1.0
four          1.0 -0.5        -0.0  0.2        -0.7  0.0
five          1.2  0.7         1.2 -1.9        -0.3 -1.2

### CREATING A DATAFRAME

In [325]:
df = pd.DataFrame({'int_col' : [1,2,6,8,-1], 
                   'float_col' : [0.1, 0.2,0.2,10.1,None], 
                   'str_col' : ['a','b',None,'c','a']})
df

   float_col  int_col str_col
0        0.1        1       a
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c
4        NaN       -1       a

In [327]:
df.ix[:3,['float_col','int_col']] #[rows, col]

   float_col  int_col
0        0.1        1
1        0.2        2
2        0.2        6
3       10.1        8

In [328]:
df.ix[:2,['float_col','int_col']] #[Start:End,[rows, col]]

   float_col  int_col
0        0.1        1
1        0.2        2
2        0.2        6

In [329]:
df[(df['float_col'] > 0.1) & (df['int_col']>2)] #and  "|" or

   float_col  int_col str_col
2        0.2        6    None
3       10.1        8       c

In [330]:
df[~(df['float_col'] > 0.1)] #invert

   float_col  int_col str_col
0        0.1        1       a
4        NaN       -1       a

In [331]:
df2 = df.rename(columns={'int_col' : 'some_other_name'})
df

   float_col  int_col str_col
0        0.1        1       a
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c
4        NaN       -1       a

In [332]:
df2.dropna()

   float_col  some_other_name str_col
0        0.1                1       a
1        0.2                2       b
3       10.1                8       c

In [333]:
df3 = df.copy()
df

   float_col  int_col str_col
0        0.1        1       a
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c
4        NaN       -1       a

In [335]:
mean = df3['float_col'].mean()
df3['float_col'].fillna(mean)

0     0.10
1     0.20
2     0.20
3    10.10
4     2.65
Name: float_col, dtype: float64

### MAP & APPLY FUNCTIONS

In [336]:
df['str_col'].dropna().map(lambda x : 'map_' + x)

0    map_a
1    map_b
3    map_c
4    map_a
Name: str_col, dtype: object

In [337]:
df[['int_col','float_col']].apply(np.sqrt)

    int_col  float_col
0  1.000000   0.316228
1  1.414214   0.447214
2  2.449490   0.447214
3  2.828427   3.178050
4       NaN        NaN

### STATISTICS

In [338]:
df.describe()

       float_col   int_col
count    4.00000  5.000000
mean     2.65000  3.200000
std      4.96689  3.701351
min      0.10000 -1.000000
25%      0.17500  1.000000
50%      0.20000  2.000000
75%      2.67500  6.000000
max     10.10000  8.000000

In [339]:
df3.describe().T

           count  mean       std  min    25%  50%    75%   max
float_col      4  2.65  4.966890  0.1  0.175  0.2  2.675  10.1
int_col        5  3.20  3.701351 -1.0  1.000  2.0  6.000   8.0

# Reading Data Frame, Converting to Pandas

In [340]:
from sklearn.datasets import load_iris

iris = load_iris()

print iris.DESCR

Iris Plants Database

Notes
-----
Data Set Characteristics:
    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica
    :Summary Statistics:
    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20  0.76     0.9565  (high!)
    ============== ==== ==== ======= ===== ====================
    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML iris datasets.
http://archive.ics.uci.edu/ml/datasets/Iris

The famous Iris database, first used by Sir R.A Fisher

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

References
----------
   - Fisher,R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda,R.O., & Hart,P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [341]:
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)

In [343]:
iris_df.head(100)

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                 5.1               3.5                1.4               0.2
1                 4.9               3.0                1.4               0.2
2                 4.7               3.2                1.3               0.2
3                 4.6               3.1                1.5               0.2
4                 5.0               3.6                1.4               0.2
5                 5.4               3.9                1.7               0.4
6                 4.6               3.4                1.4               0.3
7                 5.0               3.4                1.5               0.2
8                 4.4               2.9                1.4               0.2
9                 4.9               3.1                1.5               0.1
10                5.4               3.7                1.5               0.2
11                4.8               3.4                1.6               0.2
12                4.8               3.0                1.4               0.1
13                4.3               3.0                1.1               0.1
14                5.8               4.0                1.2               0.2
15                5.7               4.4                1.5               0.4
16                5.4               3.9                1.3               0.4
17                5.1               3.5                1.4               0.3
18                5.7               3.8                1.7               0.3
19                5.1               3.8                1.5               0.3
20                5.4               3.4                1.7               0.2
21                5.1               3.7                1.5               0.4
22                4.6               3.6                1.0               0.2
23                5.1               3.3                1.7               0.5
24                4.8               3.4                1.9               0.2
25                5.0               3.0                1.6               0.2
26                5.0               3.4                1.6               0.4
27                5.2               3.5                1.5               0.2
28                5.2               3.4                1.4               0.2
29                4.7               3.2                1.6               0.2
..                ...               ...                ...               ...
70                5.9               3.2                4.8               1.8
71                6.1               2.8                4.0               1.3
72                6.3               2.5                4.9               1.5
73                6.1               2.8                4.7               1.2
74                6.4               2.9                4.3               1.3
75                6.6               3.0                4.4               1.4
76                6.8               2.8                4.8               1.4
77                6.7               3.0                5.0               1.7
78                6.0               2.9                4.5               1.5
79                5.7               2.6                3.5               1.0
80                5.5               2.4                3.8               1.1
81                5.5               2.4                3.7               1.0
82                5.8               2.7                3.9               1.2
83                6.0               2.7                5.1               1.6
84                5.4               3.0                4.5               1.5
85                6.0               3.4                4.5               1.6
86                6.7               3.1                4.7               1.5
87                6.3               2.3                4.4               1.3
88                5.6               3.0                4.1               1.3
89                5.5               2.5                4.0               1.3
90                5.5               2.6                4.4               1.2
91                6.1               3.0                4.6               1.4
92                5.8               2.6                4.0               1.2
93                5.0               2.3                3.3               1.0
94                5.6               2.7                4.2               1.3
95                5.7               3.0                4.2               1.2
96                5.7               2.9                4.2               1.3
97                6.2               2.9                4.3               1.3
98                5.1               2.5                3.0               1.1
99                5.7               2.8                4.1               1.3

[100 rows x 4 columns]

### Exercise:

1. Print the summary statistics for all features 
2. Group by 'petal width' the 'petal length' feature
3. Using Plot function in Pandas - plot 'sepal length'
4. Are there any missing values in this data frame? - write a function to cheack that there are no missing values in this DF.
5.